<span ng-show="className == 'hero-home'" >
    <div class='hero-home__text-container'> High quality web images, made easy </div>
    <div class='hero-home__second-text-container'> 
        <a class="white-border-button open-popup-link openRegisterdialog" href="javascript:void(0)">
            Are you a photographer?
        </a>
        <a class="white-border-button open-popup-link openClientdialog" href="javascript:void(0)">book a photoshoot</a>
    </div>
</span>
<span ng-show="className == 'hero-contact'" >
    <div class="hero-contact__text-container"> Contact us </div>
    <div class="hero-contact__second-text-container">
        <h4>We’ve designed Phocus.io to empower you. If you have any comments or questions fill out the form below.</h4>
    </div>
</span>
<span ng-show="className == 'hero-about-us'" >
    <div class="hero-about-us__text-container"> We are phocus </div>
    <div class="hero-about-us__second-text-container"> about phocus.io </div>
</span>
<span ng-show="className == 'hero-how-it-works'" >
    <div class="hero-how-it-works__text-container">how it works</div>
    <div class="hero-how-it-works__second-text-container">
        <h4>Predefined image packages enable photo shoots to get done easily and quickly, while setting clear expectations on deliverables and cost. In most cases this will result in an easy, predictable and successful process for our clients as well as photographer providers.</h4>
    </div>
</span>
<span ng-show="className == 'hero-independent-contractor'" >
    <div class="hero-independent-contractor__text-container">
        INDEPENDENT CONTRACTOR AGREEMENT
    </div>
</span>