
<main class="main">
    <div class="container">
        <div class="about-us-container">
            <section id="about-us__section-one">
                <h3> Quality images dramatically improve website response rates </h3>
                <div class="text">
                    <p> Phocus.io is the source for predefined professional photo and video packages that will easily provide you with quality images. The selection of packages enables photo shoots to get done easily and quickly, as well as to set clear expectations on deliverables and cost. An easy, predictable and successful process for all of our partners, business clients and photographer providers. </p>
                </div>
                <div class="text">
                    <p> In today’s visual world, businesses get more attention with professional, high-impact images. Phocus.io delivers results easily, efficiently and nationwide. Our network of experienced professional photographers will draw attention to your website and highlight your passion and commitment to quality. </p>
                    <p> Phocus.io is the one-stop source for predefined professional photo and video packages. </p>
                </div>
            </section>
            <section id="about-us__team">
                <h3> FOUNDED BY PROFESSIONAL PHOTOGRAPHERS </h3>
                <div class="text-content">
                    <p> Disappointed by uninspired DIY pictures, we started Phocus.io to enable professional photographers and videographers to unleash their creativity and partner directly with businesses to produce high-quality website images. </p>
                    <p> A better looking website guarantees better results. But sometimes it’s difficult to anticipate what you need. We came up with simple and clean predefined packages you will be proud of—at a predictable and affordable cost. </p>
                </div>
            </section>
            <section id="about-us__benefits">
                <div class="left-image"></div>
                <div class="right-content">
                    <h3> Predefined Image packages </h3>
                    <div class="text-content">
                        <p> Predefined image packages make clear what images to expect and make photo shoots simple—with results and prices that will never surprise you. Phocus.io packages deliver a guaranteed level of quality. </p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>

