
<footer id='footer'>
    <div class='footer__container'>
        <div class='footer__about-phocus footer__elements'> <img alt="logo" class="logo-nav" src="./resources/assets/frontend/images/phocus_logo-a0277a15b8da3a35998bab8acb91c770.svg" />
            <p class='footer__text-content'> The source for predefined professional photo and video packages, to easily provide you with innovative and quality images </p>
            <p> Copyright ©
                2016
                Phocus, LLC. All rights reserved <span class='footer__terms-privacy'> <a href="#">Terms of user</a> | <a href="/">Privacy Policy</a> </span> </p>
        </div>
        <div class='footer__menu footer__elements' id='large-footer'>
            <div class='footer__options'>
                <ul>
                    <li> <a href="#/">Privacy policy</a> </li>
                    <li> <a href="#/terms">Terms and conditions</a> </li>
                </ul>
            </div>
            <div class='footer__options'>
                <ul>
                    <li> <a href="#/about">about us</a> </li>
                    <li> <a href="#/how_it_works">How it works</a> </li>
                </ul>
            </div>
            <div class='footer__options'>
                <ul>
                    <li> <a href="#/contact##frequently-asked-questions">faq</a> </li>
                    <li> <a href="#/contact">Contact us</a> </li>
                </ul>
            </div>
        </div>
        <div class='footer__menu' id='small-footer'>
            <div class='footer__options'>
                <ul>
                    <li> <a href="#/contact##frequently-asked-questions">faq</a> </li>
                    <li> <a href="#/contact">Contact us</a> </li>
                    <li> <a href="#/about">about us</a> </li>
                </ul>
            </div>
            <div class='footer__options'>
                <ul>
                    <li> <a href="#/how_it_works">How it works</a> </li>
                    <li> <a href="#/provacy">Privacy policy</a> </li>
                    <li> <a href="#/terms">Terms and conditions</a> </li>
                </ul>
            </div>
        </div>
        <div class='footer__social-icons footer__elements'>
            <ul>
                <li> <a target="_blank" href="https://twitter.com/Phocus_io"><i class='twitter-icon'></i> </a></li>
                <li> <a target="_blank" href="https://www.linkedin.com/company/phocus-io?trk=top_nav_home"><i class='linked-in-icon'></i> </a></li>
                <li> <a target="_blank" href="https://www.facebook.com/phocus.io/timeline"><i class='facebook-icon'></i> </a></li>
            </ul>
        </div>
    </div>
</footer>
