<main class="main">
  <div class="container">
    <div class="hiw-container">
      <section class="hiw-container__step">
        <div class="text hiw-container__title-step"> <img class="order-setup" src="./resources/assets/frontend/images/phocus_ordersetup-d38b58f9cc526c7a9abf82e2eb8183e6.svg" alt="Phocus ordersetup">
          <h2> Order &amp; Set-up </h2>
        </div>
        <div class="text hiw-container__left-border step-description">
          <h4> Select photo packages:
            <ul>
              <li> Pick types from drop down choices and select from additional options. </li>
            </ul>
          </h4>
          <h4> Confirm Shoot details &amp; Pay:
            <ul>
              <li> Client will confirm the shoot: Location, date/time, package and other expected deliverables. </li>
              <li> Client will provide payment authorization. </li>
              <li> 100% refund for any cancelations that are more than 48 hours in advance of shoot. </li>
            </ul>
          </h4>
          <h4> Coordinate with Photographer:
            <ul>
              <li> Phocus.io issues invitations to photographers in area. </li>
              <li> Phocus.io confirms with Client, the Date, Time and Shoot details. </li>
            </ul>
          </h4>
        </div>
      </section>
      <section class="hiw-container__step hiw-container__gray-bg">
        <div class="text hiw-container__title-mobile"> <img class="phocus-photoshoot" src="./resources/assets/frontend/images/phocus_photoshoot-5406813b7458a77a946f2050b38dc1a1.svg" alt="Phocus photoshoot">
          <h2> The Photo Shoot </h2>
        </div>
        <div class="text hiw-container__right-border step-description">
          <h4> Photo Shoot:
            <ul>
              <li> Photographer will do photographs based on package &amp; selected options. </li>
            </ul>
          </h4>
          <h4> Review &amp; Select Photos:
            <ul>
              <li> Low resolution preview copies of photos will be on-line at Phocus.io site. </li>
              <li> Client will select photos for final copies. </li>
            </ul>
          </h4>
          <h4> Final delivery:
            <ul>
              <li> Selected photos will be post-processed, and available for download. </li>
            </ul>
          </h4>
        </div>
        <div class="text hiw-container__title-step-desktop"> <img class="phocus-photoshoot" src="./resources/assets/frontend/images/phocus_photoshoot-5406813b7458a77a946f2050b38dc1a1.svg" alt="Phocus photoshoot">
          <h2> The Photo Shoot </h2>
        </div>
      </section>
      <section class="hiw-container__step">
        <div class="text hiw-container__title-step"> <img class="phocus-completion" src="./resources/assets/frontend/images/phocus_completion-09c2592ef53fab2ca6c3ce76b3bf1357.svg" alt="Phocus completion">
          <h2> Completion </h2>
        </div>
        <div class="text hiw-container__left-border step-description">
          <h4> Feedback &amp; Ratings:
            <ul>
              <li> Client can provide comments &amp; ratings on Photographer and on completed photos. </li>
              <li> You can tell us if you had a good experience, with good results – or, if you didn’t. </li>
            </ul>
          </h4>
          <h4> Approval &amp; Payment:
            <ul>
              <li> Photographer will be paid after client receives photos, and when client payment is confirmed. </li>
              <li> Satisfaction with results: If client doesn’t believe deliverables meet their expectations, Phocus.io will manage a resolution process with the photographer. </li>
            </ul>
          </h4>
        </div>
      </section>
    </div>
  </div>
</main>


