

<main>
    <div class='container'>
        <section id='homepage__portfolio'>
            <div class='homepage__container'>
                <h2> Top photographers, the highest quality </h2>
                <p> Phocus.io is the best source for quality images for your web site – photo shoots at your location, anywhere in the country </p>
                <br>
                <div class='mosaic-images-left'>
                    <div class='small-image'> 
                        <img class="margin-right-first-image" src="./resources/assets/frontend/images/photographs/teaserimage_1_desktop-92c43f064be7120e20efeb43338a876c.jpg" alt="Teaserimage 1 desktop" /> 
                        <img src="./resources/assets/frontend/images/photographs/teaserimage_2_desktop-ae3fa00555c589393904057d413d0079.jpg" alt="Teaserimage 2 desktop" /> </div>
                    <div class='big-image'> 
                        <img src="./resources/assets/frontend/images/photographs/teaserimage_5_desktop-21c79d270b29cad8f9155eb35c4bacf6.jpg" alt="Teaserimage 5 desktop" /> </div>
                </div>
                <div class='mosaic-images-left'>
                    <div class='small-image big-height-image'> <img src="./resources/assets/frontend/images/photographs/teaserimage_3_desktop-c2603e89e3ded249cab71871b2262d2e.jpg" alt="Teaserimage 3 desktop" /> </div>
                    <div class='small-image'> <img src="./resources/assets/frontend/images/photographs/teaserimage_4_desktop-bae7d03d866bb813b6a28e7b67758e57.jpg" alt="Teaserimage 4 desktop" /> <img src="./resources/assets/frontend/images/photographs/teaserimage_6_homepage_desktop-8d11696596137ab1f0e9f3d95183962d.jpg" alt="Teaserimage 6 homepage desktop" /> </div>
                    <div class='small-image last-mosaic-right'> <img src="./resources/assets/frontend/images/photographs/teaserimage_8_desktop-ca79df80c403750150544eedce6b0d70.jpg" alt="Teaserimage 8 desktop" /> <img src="./resources/assets/frontend/images/photographs/teaserimage_7_desktop-49f222d4823d75da5d3711e8fc822004.jpg" alt="Teaserimage 7 desktop" /> </div>
                </div>
                <div class='mobile-mosaic-images'>
                    <div class='three-column-images'> <img src="./resources/assets/frontend/images/mobile-images/teaserimage_1_mobile@2x-5d68a59cbf6157064c0a2c68bddae4de.jpg" alt="Teaserimage 1 mobile@2x" /> <img src="./resources/assets/frontend/images/mobile-images/teaserimage_2_desktop@2x-ad4b9aece2a803e0a86bdd316d962991.jpg" alt="Teaserimage 2 desktop@2x" /> <img src="./resources/assets/frontend/images/mobile-images/teaserimage_3_mobile@2x-4e3452b235ccbf6ed9fb27ec8d7774b7.jpg" alt="Teaserimage 3 mobile@2x" /> </div>
                    <div class='two-column-images'> <img src="./resources/assets/frontend/images/mobile-images/teaserimage_4_mobile@2x-05ae69ba102cf6f7e7bd13b385d0c487.jpg" alt="Teaserimage 4 mobile@2x" /> <img src="./resources/assets/frontend/images/mobile-images/teaserimage_5_mobile@2x-2d1d7325319e98e783df2676d284bb46.jpg" alt="Teaserimage 5 mobile@2x" /> </div>
                    <div class='three-column-images'> <img src="./resources/assets/frontend/images/mobile-images/teaserimage_6_desktop@2x-cc1bdd57ddadbc3ca6b7bd1959d451b6.jpg" alt="Teaserimage 6 desktop@2x" /> <img src="./resources/assets/frontend/images/mobile-images/teaserimage_7_mobile@2x-91a12bd1849668cb710eff8bde6708b2.jpg" alt="Teaserimage 7 mobile@2x" /> <img src="./resources/assets/frontend/images/mobile-images/teaserimage_8_mobile@2x-2afb1df9c6e3ef79e2f3a49616138b58.jpg" alt="Teaserimage 8 mobile@2x" /> </div>
                </div>
            </div>
        </section>
        <section id='homepage__how-it-works'>
            <div class='provider'>
                <h2> phocus.io pro provider </h2>
                <div class='content'>
                    <p> Bring your experience and innovation to create "difference-making" images for our mutual clients </p>
                </div>
                <div class='button-action'> <a class="white-border-button how-it-works" href="#/how_it_works">How it works</a> </div>
            </div>
            <div class='customer'>
                <h2> Images for your online business </h2>
                <div class='content'>
                    <p> Images made by experienced pros ensure that your site is noticed and, recognized as high quality </p>
                </div>
                <div class='button-action'> <a class="white-border-button how-it-works open-popup-link" href="#/">Coming soon</a> </div>
            </div>
        </section>
        <section id='homepage__benefits'>
            <h2> Phocus.io makes it easy to get high-quality Images </h2>
            <p> Quality images, composed and shot by experienced professionals, for your website. The easiest and best way to showcase your business. </p>
            <p> <strong>Easy:</strong> Predefined packages photographed by screened, highly-ranked local professionals from a nationwide network. </p>
            <p> You'll know exactly what to expect for all your web-site and other image needs. </p>
            <p> <strong>Quality Images:</strong> Experienced and pre-screened professional photographers know what images your business needs to get noticed. </p>
        </section>
        <section id='homepage__become-provider'>
            <div class='content'>
                <h2> Created by Professional Photographers </h2>
                <p> A service created and managed by professional photographers, with experience working with businesses like yours. </p>
                <p> Easy ordering and delivery of high-quality images, always on-time. Clear predefined photo packages set expectations for both costs and results. </p>
                <div class='button-action'> <a class="white-border-button open-popup-link become-button openRegisterdialog" href="javascript:void(0)">Become a Phocus.io Pro Provider</a> </div>
            </div>
        </section>
    </div>

</main>
