<main class="main">
<div class="container">
<div class="independent-contractor-container">
<h2>
INDEPENDENT CONTRACTOR AGREEMENT
<br>
INTRODUCTION
</h2>
<p>
THIS SUBVENDOR SERVICES AGREEMENT (this “Agreement”) is a legally binding
agreement between you (“you” or “your”) and Phocus, LLC (“Phocus”) (“Agreement”) that
defines the terms and conditions by which Phocus wishes to have you provide certain
photography services directly to a Phocus client (each “a Client”) pursuant to a work order
</p>
<p>
<strong>
By clicking on the “I AGREE” button or a similar affirmation, or by acknowledging
acceptance of this Agreement by any other method allowed by Phocus, you acknowledge
and agree that: (i) you have reviewed and understand this Agreement; (ii) you agree to be
legally bound by the terms and conditions of this Agreement; and (iii) your provision of
Services (as defined below) will be governed by this Agreement. If you do not agree or are
not willing to be bound by the terms and conditions of this Agreement, you should not click
on the “I AGREE” button.
</strong>
</p>
<p>
1.
<strong>PROVISION OF SERVICES.</strong>
If you are accepted by Phocus to provide the Services to
a Client pursuant to a work order, you will provide such Client with quality professional
photographic services (the “Services”) at the location designated by such Client.  Except as
otherwise requested or directed by Phocus or a Client, you will deal directly and exclusively
with Phocus with respect to providing the Services, and will not communicate with the Client
regarding such.
</p>
<p>
2.
<strong>INFORMATION ABOUT YOU.</strong>
By accepting the terms and conditions of this
Agreement, you represent and warrant that you are of at least 18 years of age or older.  If you
are providing the Services on behalf of a business entity, you further represent and warrant that
you have the legal authority to accept the terms and conditions of this Agreement on behalf of
such entity.
</p>
<p>
3.
<strong>ACCEPTANCE OF WORK ORDERS.</strong>
</p>
<p>
<strong>A.</strong>
Phocus will post work orders requested by Clients on its online portal.  Phocus will
provide you with access to such online portal.  Each work order will describe the Services to be
provided, the proposed fee for the Services, any special requirements or conditions that the
Client imposes which may include, without limitation, satisfactory results on a background
investigation and drug and/or alcohol testing, and any other terms and conditions governing the
Services requested by the Client. If you desire to bid on a particular work order, you will
communicate to Phocus through such online portal regarding (a) the terms upon which you are
willing to provide the Services (including the price), and (b) the type of equipment, skills and
experience which are relevant to the Services that you will provide. Phocus will determine any
assignment of a work order in its sole discretion.  If Phocus offers you the work assignment
under a work order, you must confirm your acceptance of the word order before performing
any Services.  Since Phocus will pay you directly for providing the Services to a Client, you
also must complete the online W-9 tax form prior to becoming eligible to be paid for the
Services.
</p>
<p>
<strong>B.</strong>
You are not obligated to accept a fixed, or minimum, number of work orders.  You
maintain sole discretion to bid on a work order, and to reject any work order if you deem the
work unprofitable, or for any other reason. Once you accept Phocus’ offer to provide Services
under a work order, you are responsible for rendering the Services.   Notwithstanding the
foregoing, Phocus may cancel without charge any work order for Services at any time prior to
you beginning the assignment at Client.
<strong>You represent and warrant that all Services will be performed by you directly.  You may not subcontract the performance of the Services to any third party.</strong>
</p>
<p>
<strong>C.</strong>
Phocus expects that as an independent contractor, you have other sources of business and
Phocus has no obligation to provide you with an opportunity to bid on a minimum number of
work orders.
</p>
<p>
4.
<strong>YOUR DUTIES AS AN INDEPENDENT PHOTOGRAPHER CONTRACTOR</strong>
</p>
<p>
<strong>A.</strong>
You are an Independent Contractor under the terms of this Agreement. The acceptance of
work order(s) does not establish an employment relationship with Phocus or any Client. As
such, you will pay any and all payroll, self-employment, or other taxes of any nature imposed
upon the payment you receive as a result of providing the Services hereunder.
</p>
<p>
<strong>B.</strong>
If you are performing Services which are subject to state and/or local taxes, including but
not limited to, sales tax, excise tax, gross receipts tax, or transaction privilege tax, the amount
in which you bid for the applicable work order is to be inclusive of all applicable taxes.  As an
iindependent contractor it is your responsibility to remit any required/applicable taxes to the
taxing authorities.
</p>
<p>
<strong>C.</strong>
It is your responsibility to obtain workers compensation insurance where required by
law, keep records as required by law, pay taxes or governmental fees, comply with applicable
laws, and maintain any licenses required. You will be solely responsible for obtaining and
either self-insuring or purchasing liability insurance in such amounts and coverage as you
select.  You understand that issues of liability that arise as a result of your negligence in the
execution of a work order will be your responsibility.  Phocus will not provide any
contributions to unemployment insurance or workers compensation funds.  Phocus
recommends that you carry the following minimum insurance coverage: (i) workers
compensation insurance as prescribed by the law of the state in which you  render Services; (ii)
employer liability insurance with limits of at least $1,000,000 per occurrence; (iii)
comprehensive automobile liability insurance with a combined single limit per occurrence of at
least $1,000,000 for bodily injury and property damage; (iv) comprehensive general liability
insurance, including, broad form/property damage, bodily injury, products and completed
operations, with a combined single limit per occurrence of at least $1,000,000; and (v)
professional liability insurance with a minimum limit of $1,000,000 per occurrence.  Phocus
will not, and declines to, supervise, specify or control the means or methods of how you will
render the Services pursuant to a work order.  It is your responsibility to determine and control
how to use your skills, knowledge, training, ability, and experience in the Services to enable
you to render the Services in a work order to the Client’s satisfaction.
</p>
<p>
<strong>D.</strong>
Except for the purpose of explaining how to use our on-line system to obtain and bid on
work orders, Phocus has not provided, and will not provide you with training or individual
instruction with respect to how you render the Services to a Client’s satisfaction.  You will
have obtained the necessary technical proficiency to render the Services at your own expense,
or at the expense of another person or entity, prior to becoming a contractor to Phocus.
</p>
<p>
<strong>E.</strong>
Phocus will not provide any tools, equipment, or office space to you.  You will set your
hours and work schedule as you deem appropriate to render the Services required by the Client
in the applicable work order. You are responsible for designating and maintaining your own
place of business where you can receive mail and from where you manage your business
operations.
</p>
<p>
<strong>F.</strong>
As an independent contractor, you will not be entitled to any rights or benefits provided
to employees of either Phocus or our Clients including, without limitation, health insurance
benefits, vacation or other time off, and other employee benefits.
</p>
<p>
<strong>G.</strong>
You are responsible for any expenses incurred in performing the Services unless the
work order provides such expenses as a part of the compensation for the Services.
</p>
<p>
<strong>H.</strong>
You have no obligation to keep reports or logs of any type to justify the time spent
rendering Services on a work order, unless the work order provides for payment on an hourly
basis.
</p>
<p>
<strong>I.</strong>
The applicable work order will specify the location at which the Services are to be
rendered.
</p>
<p>
5.
<strong>COMPLIANCE WITH LAWS.</strong>
You will comply with all applicable laws, rules and
regulations, including any policies and procedures of the Client, in performing the Services
under this Agreement.
</p>
<p>
6.
<strong>OWNERSHIP OF WORK PRODUCT.</strong>
</p>
<p>
<strong>A.</strong>
Any and all Work Product, including any ideas, concepts, information, materials,
improvements, designs, artwork, photographs, content, other copyrightable work, and any
other work product created, conceived or developed by you (whether alone or jointly with
others) under this Agreement, including all copyrights, trademarks, trade secrets, and other
intellectual property rights therein (the “Work Product”) will be considered “work for hire” to
the extent allowed by law. As such, the Work Product will be the sole property of the
applicable Client in perpetuity, throughout the world in any and all media. In the event any
Work Product created hereunder is not deemed to be work for hire, you will assign to the
applicable Client in perpetuity and without reservation, condition or limitation, all rights, title,
and interest in and to such Work Product developed, created or produced under this Agreement
by you (including, but not limited to all working papers, files, models, scripts, concepts,
expression of ideas, stories, photos, videos, records) and all rights, title and interest in
copyright, trade secrets, trademarks, and other intellectual property derived from such.
</p>
<p>
<strong>B.</strong>
You specifically agree that the Client, in its sole discretion, will have the right to register
in Client’s name the copyright to any Work Product delivered by you pursuant to this
Agreement.  You agree that all Work Product delivered hereunder to a Client will be
copyrightable under the laws of the United States, except that a Client may in its sole discretion
by specific writing waive this requirement as to any such Work Product. You further agree to
assist Client in obtaining copyright protection and any and all other intellectual property rights
protection in the Work Product by providing and executing any and all documentation
necessary to vest copyright ownership of the Work Product in a Client.
</p>
<p>
7.
<strong>LIMITATION OF AUTHORITY.</strong>
You will not have any authority to:  (a) bind or
obligate Phocus or subject Phocus to any liability except as expressly provided in this
Agreement, or (b) do any other act on behalf of Phocus that is not expressly authorized in this
Agreement.
</p>
<p>
8.
<strong>REMUNERATION.</strong>
You understand that the Services are being provided pursuant to a
contract between Phocus and a third party Client.  Phocus agrees to pay you for the Services
provided herein subject to payment by the Client to Phocus (Pay when Paid).  Pursuant to this
Pay when Paid, Client may, upon notice to you, withhold payments for unsatisfactory
performance.  Phocus will issue payment for the fee specified in the work order, less any work
order fees to be paid by you, upon payment for the Services from the Client.  Such payment to
you will be made within 30 days after receipt of such payment from the Client as provided
herein.  Phocus will report payments to you for tax purposes on a Form 1099.  Notwithstanding
any other provision set forth herein, you agree that in the event of the Client’s delay, failure,
refusal or inability to pay Phocus for the Services provided by you, Phocus shall have no
obligation to pay for any of the Services.
</p>
<p>
9.
<strong>CLIENT DISPUTES.  You will use your best efforts to resolve any dispute with a</strong>
Client arising from or related to your performance of the Services, within two business days
after receiving notice of the dispute from Phocus or a Client.  Upon your request, Phocus will
assist you in resolving the dispute, if it deems such assistance appropriate.  If you are unable to
resolve the dispute in a timely fashion, Phocus reserves the right to offer the applicable work
order to another Phocus contractor with no payment obligation due or owing to you.
</p>
<p>
10.
<strong>INADEQUATE PERFORMANCE.  For any services you perform that are deemed to</strong>
be incomplete or inadequate by a Client, Phocus reserves the right to offer your work order to
another contractor with no compensation paid or owed to you.
</p>
<p>
11.
<strong>INDEMNIFICATION.</strong>
</p>
<p>
<strong>A.</strong>
You shall fully indemnify, defend and hold harmless the Client and Phocus (collectively,
“Indemnified Parties”), and each of their directors, officers, employees, agents, affiliates,
subsidiaries, successors and assigns, from and against any liens, damages, lawsuits, charges,
losses, fines, penalties, costs, liabilities, interest and expenses (including reasonable attorneys’
fees) relating to or arising from, directly or indirectly, in whole or in part: (i) your breach of
this Agreement; (ii) any claim for wages, overtime, employee benefits, pension, stock options,
employee stock purchase rights, or any form of compensation and benefits from you or any of
your employees; (iii) any taxes, social security, unemployment compensation or any other
required payroll deductions relating to you or any of your employees; (iv) any applicable
federal, state or local sales or use, gross receipts, transaction privilege, business and occupation
and other similar taxes or levies attributable to this Agreement or the Services; (v) any act or
omission of you or any of your employees resulting in personal injury or death to any person or
damage to or loss of any property; (vi) any violation of law by you or any of your employees,
including laws governing eligibility to work in the United States; (vii) any claim that the
delivery or use of any Work Product infringes or violates any third party’s patent, copyright,
trademark, trade secret or other intellectual property rights; (viii) any use or disclosure of
Indemnified Parties Confidential Information contrary to this Agreement; (ix) any claim,
charge or lawsuit relating to harassment or discrimination as a result of actions by you or any
of your employees; and/or (x) any claim by or on behalf of you or any of your employees that
Indemnified Parties are the “employer” or “joint employer” of you or such employees arising
out of or in connection with this Agreement or with your performance of this Agreement
</p>
<p>
<strong>B.</strong>
The indemnifying party under this Section 11 shall assume any indemnification or
defense obligation, upon reasonable notice by an indemnified party, at the indemnifying
party’s sole cost and expense and with counsel approved by the indemnified party, which
approval shall not be unreasonably withheld. An indemnified party shall be entitled to
participate with the indemnifying party in the defense with counsel of its own selection, at the
indemnified party’s own expense.
</p>
<p>
<strong>C.</strong>
If, within ten (10) days of receiving a notice, you do not select counsel to defend such
claim or action (such counsel shall be rated AV in the Martindale Hubbell Law Directory or be
agreed to in writing by Phocus and the Client), then the Indemnified Parties may select counsel
of its choice to defend such claim or action, and you shall pay all reasonable associated costs
and expenses.
</p>
<p>
12.
<strong>TERM AND TERMINATION.</strong>
This Agreement shall continue indefinitely until
canceled by either of the parties hereto upon thirty (30) days written notice to the other.  In
addition, Phocus and a Client shall have the right to immediately cancel this Agreement in
whole upon written notice to you in the event Phocus or such Client, in its sole discretion,
determines your performance of the Services to be unsatisfactory or in the event of any breach
by you of the obligations of this Agreement.  In the event of termination of this Agreement, all
assignments of work orders will immediately terminate as well.
</p>
<p>
13.
<strong>CONFIDENTIALITY.</strong>
You will at all times maintain in strict confidence all
confidential and proprietary information of Phocus and the Client that you receive in the course
of providing the Services, including all work orders, Client addresses, and information on
Client premises to which you have access or obtain control, and agree that you (a) will not use
or permit the use of such confidential information in any manner or for any purpose not
expressly set forth in this Agreement, (b) will protect such confidential information from
unauthorized use and disclosure, and (c) will not disclose such confidential information to any
third parties..    Such information will remain the exclusive property of Phocus or such Client,
as applicable.  Upon request by Phocus or such Client, you agree to promptly deliver to Phocus
or such Client the original and any copies of such confidential information.
</p>
<p>
14.
<strong>LIMITATION OF LIABILITY.</strong>
IN NO EVENT SHALL PHOCUS AND THE
CLIENT BE LIABLE FOR ANY INCIDENTAL, CONSEQUENTIAL, EXEMPLARY,
SPECIAL, OR PUNITIVE DAMAGES OR EXPENSES OR LOST PROFITS
(REGARDLESS OF HOW CHARACTERIZED AND EVEN IF SUCH PARTY HAS BEEN
ADVISED OF THE POSSIBILITY OF SUCH DAMAGES) UNDER OR IN CONNECTION
WITH THIS AGREEMENT OR ANY WORK ORDER UNDER THIS AGREEMENT,
REGARDLESS OF THE FORM OF ACTION (WHETHER IN CONTRACT, TORT,
NEGLIGENCE, STRICT LIABILITY, STATUTORY LIABILITY OR OTHERWISE).  IN
NO EVENT SHALL PHOCUS’ AGGREGATE LIABILITY ARISING FROM OR
RELATED TO THIS AGREEMENT EXCEED THE AMOUNT OF FEES ACTUALLY
PAID BY PHOCUS TO YOU HEREUNDER.
</p>
<p>
15.
<strong>NON-SOLICITATION.</strong>
During the term of this agreement and for a period of three (3)
years after termination of this Agreement, you agree not to circumvent Phocus, directly or
indirectly, (a) to induce or attempt to induce, any Client to utilize your services directly or not
to pay Phocus’ any fees; (b) induce or attempt to induce any Client to change its relationship
with Phocus or decrease the level of services provided by Phocus, (c) assist any third party in
inducing or attempting to induce any Client to change its relationship with Phocus or decrease
the level of services provided by Phocus, or (d) induce or attempt to induce, or assist any third
party in inducing or attempting to induce, any Client to obtain services which Phocus offers
from any competitor or potential competitor of Phocus, in each case, without the prior written
consent of Phocus.  During the term of the Agreement and for three (3) years after termination
of this Agreement, without Phocus’ prior written consent, you will not provide or offer to
provide services, other than through Phocus, to any Client to whom Services were provided by
you pursuant to this Agreement.   In the event, any Client or any of its affiliates, directly or
indirectly, to whom you provided Services pursuant to this Agreement contacts you directly for
Services, you will notify Phocus immediately with the contact information of such Client.
Phocus will enter into direct negotiation and contract with such Clients upon consultation with
you.
</p>
<p>
16.
<strong>LEGAL AND EQUITABLE REMEDIES.</strong>
Phocus will have the right to enforce this
Agreement and any of its provisions by injunction, specific performance or other equitable
relief without prejudice to any other rights and remedies that Phocus may have for any breach
of this Agreement by you.
</p>
<p>
17.
<strong>ASSIGNMENT.</strong>
This Agreement shall be binding upon and inure to the benefit of and
be enforceable by the parties hereto and their respective successors and assigns.  This
Agreement shall not be assigned in whole or in part by either party without the prior written
consent of the other party, which consent shall not be unreasonably withheld; provided that
notwithstanding the foregoing, Phocus may without your consent assign this Agreement to any
purchaser of all or substantially all of its assets or equity (whether by sale, merger or
otherwise).
</p>
<p>
18.
<strong>NOTICES.</strong>
All notices, requests, and other communications will be in writing and
delivered electronically.  Phocus will send any such communications to the last known e-mail
address that you provide, and you will send any such communications to the Phocus e-mail
address that it provides.
</p>
<p>
19.
<strong>WAIVER, MODIFICATION OR AMENDMENT.</strong>
No waiver, modification or
amendment of any term, condition or provision of this Agreement will be valid or of any effect
unless made in writing, signed by the party to be bound or its duly authorized representative
and specifying with particularity the nature and extent of such waiver, modification or
amendment.  Any waiver by any part of any default of the other will not affect or impair any
right arising from any subsequent default.  Nothing in this Agreement limits the rights and
remedies of the parties under and pursuant to this Agreement, except as set forth above
</p>
<p>
20.
<strong>ENTIRE AGREEMENT.</strong>
This Agreement contains the entire agreement between
Phocus and you and supersedes and cancels any and all other agreements, whether oral or in
writing, between Phocus and you with respect to the matters referred to in this Agreement
</p>
<p>
21.
<strong>GOVERNING LAW.</strong>
The validity, enforceability, construction, and interpretation of
this Agreement will be governed by the laws of the State of Minnesota, without regard to any
conflict-of-law or choice-of-law rules.  You irrevocably waive your right, if any, to have the
laws other than the State of Minnesota apply to this Agreement.
</p>
<p>
22.
<strong>FORUM SELECTION.</strong>
Because (a) Phocus is a Minnesota company with its principal
place of business in Hennepin County, Minnesota; (b) the Company’s significant contracts are
governed by Minnesota law; and (c)&nbsp;it is mutually agreed that it is in the best interests of
Phocus Clients, vendors, contactors, and employees that a uniform body of law consistently
interpreted be applied to the relationships that Phocus has with such persons and entities, this
Agreement is deemed entered into in the State of Minnesota between  Phocus and You.  The
State of Minnesota, Hennepin County District Court, will have exclusive jurisdiction and
venue over any disputes between Phocus and you for the purposes of any action arising out of
or related to the their respective obligations hereunder, including specifically (but without
limiting the generality of the foregoing), actions for temporary equitable relief and permanent
equitable relief.  You hereby (a) waive any objection that you might have now or hereafter to
the foregoing jurisdiction and venue of any such litigation, action or proceeding, (b)
irrevocably submits to the exclusive jurisdiction of any such court set forth above in any such
litigation, action or proceeding, and (c) waives any claim or defense of inconvenient forum.
Each party hereby consents to service of process by registered mail, return receipt requested, at
such party’s last known address (as modified by written notice of a party from time to time)
and expressly waives the benefit of any contrary provision of law.
</p>
<p>
24.
<strong>ELECTRONIC SIGNATURE CONSENT.</strong>
Phocus relies on an electronic signature
process as official authorization for your agreement related to this Agreement. By clicking "I
agree", you affirmatively consent and agree to conduct each transaction by electronic means
with Phocus and you hereby state that electronic signatures shall have the same force and effect
as an original signature with respect to this Agreement and all written agreements entered into
between you and Phocus.  You further consent to receive any notices required to be in writing
by electronic means to the email or other contact information sent by you to Phocus. You may
request at any time to have a transaction record provided or made available on paper or in non-
electronic form by Phocus at no charge.  Your standard web browser is required to access any
electronic records from your account and you confirm your consent that you can access such
records using your standard web browser.  You also may revoke approval of this electronic
signature process at any time with prior written notice to Phocus; however this will result in
Phocus’ suspension or termination of this Agreement absent your acknowledgment of
agreement or consent by other valid legal means.
</p>
<p>
IN WITNESS WHEREOF, the parties have executed this Agreement.
</p>
</div>

</div>
</main>