<div class="row" ng-init="GetAdmin()">
    <div class="col-lg-12">
        <h1 class="page-header">Details for Admin '{{admin.name}}'</h1>
    </div>
</div>
<ol class="breadcrumb">
	<a class="pjax" href="#/admin">Admins</a>
</ol>

<ul class="nav nav-tabs">
	<li title="" rel="" class="active"> <a class="" href=""> <span class="fa fa-info-circle"></span> Show</a> </li>
    <li title="" rel="" class=""><a class="" href="#/admin/edit/{{admin.id}}"> <span class="fa fa-pencil"></span>  Edit</a></li>
    <li title="" rel="" class=""> <a class="" href="#/admin/delete/{{admin.id}}">  <span class="fa fa-remove"></span> Delete </a> </li>
</ul>

<div class="fieldset">
	<h4>Basic Info</h4>
	<dl>
		<dt><span class="label label-info">Email</span></dt>
		<dd class="well" ng-bind="admin.email"></dd>
        <dt><span class="label label-info">Privileges</span></dt>
		<dd class="well">Administrator</dd>
	</dl>
</div>